{% extends "base.html" %}

{% block head %}
   <style>
       label {
          width: 200px;
          font-weight: bold;
       }
       table, td, tr, th {
           border: 1px solid #000;
           padding:5px;
       }
   </style>
   
{% endblock %}
{% block container %}
   <h4>Welcome to DBOI</h4>
   <div style="width:650px;float:left;padding:5px;color:black;text-align:justify;margin-right:20px;">
       <div class="">
             <label>Account Number: </label> {{user_profile.account_number}}<br />
             <label>Account Name: </label> {{user_profile.account_name}}<br />
             <label>Phone: </label> {{user_profile.phone}}<br />
             <label>Email: </label> {{user_profile.email}}<br />
             <label>Bank Name: </label> {{user_profile.bank_name}}<br />
             <label>Branch: </label> {{user_profile.branch}}<br />
             <label>Cash Balance: </label> {{user_profile.cash_balance}}<br />
             <label>Carbon Credit Balance: </label> {{user_profile.credit_balance}}<br />
       </div>
   </div>
    <div style="width:450px;border:1px solid #2C2424;float:left;padding:5px;;color:black;">
            <!-- <h6 style="background-color:#2C2424;color:white;padding:5px;">Useful links</h4>
            <a href="/flight-booking/">Flight Booking</a><br />
            <a href="/train-booking/">Train Booking</a><br />
            <a href="/bus-booking/">Bus Booking</a><br />
            <a href="/fertilizers/">Fertilizer</a><br />
            <a href="/green-invst-kitty/">Manage green investmet kitty</a>
            -->
            <a href="/transfer-credit/">Transfer Carbon Credits</a>
            <br /><a href="/bid/">Bid Carbon Credits</a>
            <hr />
            <form action="/accept-bid/{{user_profile.id}}/" method="post" enctype="multipart/form-data">
                   {% csrf_token %}

            {% if bids %}
            Available Bids
            <table> 
            <tr><th>Bidder</th><th>Bid Qty</th><th>Bid Price</th><th>Accept Qty</th><th>Accept Amount</th><th>Action</th></tr>
            {% for x in bids %}
             <tr>
             <td>{{x.bid_user.account_name}}</td>
             <td>{{x.bid_qty}}</td>
             <td>{{x.price}}</td>
             <td><input type="text" name="accept_qty" size=4 value="{{min_amt}}"></td><input type="hidden" name="bid" value="{{x.id}}" />
             <td>{{x.amount}}</td><input type="hidden" name="acpt_qty" value="{{min_amt}}" /><input type="hidden" name="acpt_amt" value="{{x.amount}}" />
             <td><input type="submit" value="Accept Bid" /></td>
             </tr>
            {% endfor %}
           {% endif %}
            </form>
          </table>
   </div>
   <br style="clear:both">"
{% endblock %}

   


