{% extends "base.html" %}

{% block head %}
<style>
    label {
        width: 200px;
        font-weight: bold;
    }
</style>
<script src="/static/js/jquery.min.js"></script>
<script>

 

    $(document).ready(function () {
        $("#submit_button").click(function () {
            var qw = $("#data1").val()
            var credit = {{trans}}

             if (credit - qw < 0) {
            alert("No available  balance");
            event.preventDefault();
        }
        

                });
            });
</script>

</script>
{% endblock %}
{% block container %}
   <h4>Investments</h4>
   <div style="width:650px;float:left;padding:5px;color:black;text-align:justify;margin-right:20px;">
       <div class="">
           <form action="/investments/" method="post" enctype="multipart/form-data">
               <label>
                   Project Name
               </label>
               <input type="text" name="prj_name" /><br />

               <label>
                   Category
               </label>
               {% csrf_token %}
               <select name="category">
                   <option value="BLOGAS">BLOGAS</option>
                   <option value="SOLAR">SOLAR</option>
                   <option value="MIND">MIND</option>
               </select>
               </br>
               <label>
                   Region
               </label>
               <select name="region">
                   <option value="APAC">APAC</option>
                   <option value="EMEA">EMEA</option>
                   <option value="AMERICAS">AMERICAS</option>
               </select>
               </br>
               <label>
                   Amount
               </label>
               <input name="amount" id="data1" type="text" /> ({{trans|floatformat:2}})
               <br />

               <input id ="submit_button" type="submit" value="submit" style="margin-left:200px" />

           </form>

       </div>
   </div>

   <br style="clear:both">"
{% endblock %}




