{% extends "base.html" %}

{% block head %}
<style>
    label {
        width: 200px;
        font-weight: bold;
        color: black;
    }
    span { 
          color: black;
          width: 100px;
          height: 100px;
   }
   .left {
       float: left;
       width: 200px;
   }
   table tr {
      border:1px solid #000;
   }
   td {
       color: black;
       font-color: #000;
       boder:1px solid #000;
       padding:5px;
       text-align:center; 
    }
</style>
<script src="/static/js/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        var temp = {{ item.item_price }};
     var orig = {{ item.item_price }};
                    $('#price').text(temp);
                    $('#total').val(temp);
    $("#gogreen").click(function () {
                        orig = $("#amount_1").text();
                    if ($("input[type=checkbox]").is(
                        ":checked")) {
                        temp = Math.ceil(orig);
                        abc = temp - orig;
                        abc = Math.round( abc * 100) / 100;
                        $("#carbon").text(abc);
                    } else {
                        temp = orig;
                         $("#carbon").text(0)
        }
                    temp = Math.round( temp * 100) / 100;
                    $('#price').text(temp);
        $('#total').val(temp);
        
                    });
        

    $("#qty_1").on('change', function () {
        var e_quant = $("#qty_1").val();
        var price = {{ item.item_price }};
    var cc = {{ item.carbon_credits }};
    var amt = e_quant * price;
    var t_amt = e_quant * cc;
    amt = Math.round(amt * 100) / 100;
  
    $('#gogreen').prop('checked', false); 
    $("#amount_1").text(amt);
    $("#price").text(amt);
    $("#total").val(amt);
    $("#carbon_credit").text(t_amt);
    
        });

    $("#submit_button").on('click' , function() {
        var quant = $("#total").val();
        var t_quant =  $("#carbon_credit").text();
     
                        var  credit  = {{user.cash_balance}}
                        if (credit - quant < 0) {
                            alert("No cash balance left");
                            event.preventDefault();
    }
    var que = {{ user.credit_balance }} - t_quant;
      if (que< 0) {
                            alert("No carbon credits balance left");
                            event.preventDefault();
    }

    });

            });
</script>

{% endblock %}
{% block container %}

<h4>Payment </h4>
<div style="width:750px;float:left;min-height:400px;">
    <form action="/buy-item/{{item.id}}/" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <img src="/{{item.item_image}}" alt="August 2019" width="100px" height="100px">
        <br />
        <label>Product</label><span>{{item.item_name}}</span>
        <br />
        <label>Price</label><span>{{item.item_price}}</span>  EUR
        <br />
        <label>Quantity</label><input id="qty_1" type="text" name="qty" size="2" value="1" />"
        <br />
        <label>Carbon Credit</label><span id="carbon_credit">{{item.carbon_credits}}</span>
        <br />
        <label>Amount</label><span id="amount_1">{{item.item_price}}</span>  EUR <br />
        <label><input id="gogreen" type="checkbox" name="green" value="green"><span style="color:green"> Go Green</span></label><br />


        <label>Final Amount:</label><span id="price" >{{item.item_price}}</span> EUR <input type="hidden" name="total_price" id="total" />
        <br />
        <label>Donations: </label><span id="carbon">{{donations}}</span><br />
        <label></label><input id ="submit_button" type="submit" value="Place Order" /><input type="button" value="Cancel" />

    </form>
</div>

<div style="width:350px;margin-top:100px;border:1px solid #2C2424;float:left;margin-left:10px;padding:5px;;color:black;">
            <!-- <h6 style="background-color:#2C2424;color:white;padding:5px;">Useful links</h4>-->
            <label>Account Name: </label> {{user.account_name}}<br />
            <label>Available Cash Balance: </label> {{user.cash_balance}}<br />
            <label>Available Carbon Credit: </label> {{user.credit_balance}}<br />
</div>
<br style="clear:both">"
{% endblock %}




