{% extends "base.html" %}

{% block head %}
   <style>
       label {
          width: 200px;
          font-weight: bold;
          color:black;
       }
   </style>

{% endblock %}
{% block container %}
   <h4>Payment </h4>
       <div class="">
          <span>
            <img src="/{{item.item_image}}" alt="August 2019" class="left" width="150px" height="100px"> 
          </span>
          <span>
            {{item.item_name}}
          </span>
          <span>
            {{item.item_price}}
          </span>
          <span>
            {{item.carbon_credits}}
          </span>                 
       </div>
       <div>
            <label><input type="checkbox" name="green" value="green" checked>Go Green</label><br /> 
            <label>Total Price:</label>{{item.price}} <br />
            <label>Total Carbon Credits: </label><br /> 
            <input type="submit"  value="Place Order" />    
       </div>
   <br style="clear:both">"
{% endblock %}

   


